@media screen and (max-width: 410px) {

    body {
        /* background-image: url(../img/bk.jpg); */
        background-repeat: no-repeat;
        background-size: 100%;
    }

    #time,
    .text {
        color: rgb(255, 255, 255);
    }

    .index {
        margin-top: 40%;
    }

    .text1,
    .text2 {
        color: black;
    }
}

body {
    font-size: .2rem;
    color: gray;
    /* background-color: lightcyan; */
    /* background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover; */
}

#time {
    text-align: right;
    margin-top: 3%;
    margin-right: 10%;
}

hr {
    width: 60%;
}

#year {
    font-size: 1rem;
    color: pink;
}

#hours,
#minute,
#second {
    font-size: .4rem;
    color: pink;
}

.text1,
.text2 {
    font-size: .8rem;
    font-family: KaiTi;
    position: absolute;
}

.text1 {
    bottom: 2rem;
}

.text2 {
    bottom: 1rem;
    left: 1rem;
}

.text {
    text-align: right;
    margin-right: 5%;
}

.icp {
    position: absolute;
    bottom: 0;
}

a {
    text-decoration: none;
    font-size: small;
    color: black;
}